@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Exo:wght@300;600&family=Montserrat&family=Titillium+Web&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --green: #00B031;
  --gray: #1F1F1F;
  --black: #111;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

body {
  background: var(--gray);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  height: 5em;
  background: var(--black);
}

header img {
  cursor: pointer;
}

header div {
  width: 100%;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

footer {
  height: 6em;
  align-items: flex-end;
  padding-bottom: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: white;
  background: linear-gradient(180deg, rgba(31, 31, 31, 0.26) 0%, var(--green) 100%);
}

@media(max-width:1260px) {
  .wrapper {
    max-width: 1000px;
  }
}

@media(max-width:1024px) {
  .wrapper {
    max-width: 800px;
  }
}

@media(max-width:768px) {
  .wrapper {
    max-width: 500px;
  }
}

@media(max-width:480px) {
  .wrapper {
    max-width: 400px;
  }
}

@media(max-width:320px) {
  .wrapper {
    max-width: 300px;
  }
}